<template>
  <section class="hero has-background-primary py-4">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-three-quarters-desktop">
            <h1 class="title is-spaced is-3 has-text-white">
              Tus proyectos, nuestros proyectos
            </h1>
            <h1 class="subtitle is-spaced is-1 mt-6">
              "Una década aportando soluciones documentales a empresas y
              administraciones, siempre desde la cercanía y el compromiso."
            </h1>
          </div>
          <div
            class="column is-one-quarter-desktop is-one-third-tablet is-half-mobile is-relative"
            style="margin-left: auto; margin-right: auto"
          >
            <img
              src="../assets/images/logo-alt.png"
              alt="Sello del registro de huella de carbono del Ministerio para la Transición Ecológica"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
